h1{
    font-family: Arial;
    text-align: center;
    font-size: 60px;
}

input{
    border-radius: 20px ;
    outline: none;
    border: 1px solid;
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px;
}